{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">Guru</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
              <!-- {%if per.role == "Employer"%} -->
                <!-- <a class="nav-item nav-link" href="{% url 'hrpanel-hrhome' %}">HrPanel</a> -->
                <!-- <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a> -->
                <!-- <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> -->
                <!-- {%else%} -->

                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <!-- {%endif%} -->



                <div style="background:#008064">


                <a class="nav-item nav-link" href="#">Welcome, {{request.user}}</a>
                    </div>
              {% else %}
                <!-- <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> -->
                <a class="nav-item nav-link"  href="{% url 'employeelogin' %}">Employee Login</a>
            <a class="nav-item nav-link" href="{% url 'employerlogin' %}">Recruiter Login</a>
            <a class="nav-item nav-link" data-toggle="modal" data-target="#regModal"> Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">

            <div class="content-section" style="text-align:center">
              <fieldset class="form-group">
                <legend class="border-bottom mb-4">You wanna to Register as employee or Recruiter</legend>
                <div class="row">
                  <div class="col-6" style="text-align:center">

                    <a href="{% url 'employeeregister' %}">
                      <small >Register as employee</small>

                    </a>
                  </div>

                  <div class="col-6" style="text-align:center" >

                    <a href="{% url 'hrregister' %}">
                                        <small>Register as Recruiter</small>
                    </a>
                  </div>

                </div>


                <div class="row">
                  <div class="col-6" style="text-align:center">

                    <a href="{% url 'employeeregister' %}">

                      <img src="{%static 'blog/fresher.png'%}" alt="fresher" style="width:180px;height:180px;border:0">
                    </a>
                  </div>

                  <div class="col-6" style="text-align:center">
                    <a href="{% url 'hrregister' %}">
                                        <img src="{%static 'blog/hr.png'%}" alt="hr" style="width:180px;height:180px;border:0">
                    </a>
                  </div>

                </div>


              </fieldset>


            </div>
          </div>
        </div>
      </div>




    <main role="main" class="container col-md-12 ">
      <div class="row ">
        {% if user.is_authenticated %}
        <div class="col-md-1.8  p-3">

          <div class="content-section">

            <div class="media" >
              <div class="media-body">
                <img class="rounded-circle account-img" src="{{ user.permission.image.url }}" style="width: 80px;height: 80px;">
                <br>
                <small class="text-secondary">Last Login:-    {{user.last_login}}</small>
                <br>
                <small class="text-secondary">Profile Perentage - 90%</small>
                <br>
              </div>

            </div>



            <ul class="list-group mt-4">
              <li class="list-group-item list-group-item-light"><a href="{% url 'hrpanel-mail' %}"><small>Inbox</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}"><small>Update Basic Details</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'employeeAddEdudetails' %}"><small>Education Details</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addpersonaldetails' %}"><small>Personal Details</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addcompanyView' %}"><small>Company Details</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addskillsset' %}"><small>SkillSet Details</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addskillsset' %}"><small>Job Postings</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'interview_list' %}"><small>Interview Discussion Forum</small></a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'technical-home' %}"><small>Technical Discussion Forum</small></a></li>

            </ul>
            </p>

          </div>
        </div>

        {%else %}
        <div class="col-md-1.8  p-3">

          <div class="content-section">

            <!-- <div class="media" >
              <div class="media-body">
                <img class="rounded-circle account-img" src="{{ user.permission.image.url }}" style="width: 80px;height: 80px;">
                <br>
                <small>Last Login:- {{user.last_login}}</small>
              </div>
            </div> -->



            <ul class="list-group">
              <li class="list-group-item list-group-item-light"><a href="{% url 'hrpanel-mail' %}">Temp links need to be add</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'profile' %}">Temp links need to be add</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'employeeAddEdudetails' %}">Temp links need to be add</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addpersonaldetails' %}">Temp links need to be add</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addcompanyView' %}">Temp links need to be add</a></li>
              <li class="list-group-item list-group-item-light"><a href="{% url 'addskillsset' %}">Temp links need to be add</a></li>

            </ul>
            </p>

          </div>
        </div>

      {%endif%}
        <div class="col-md-8" align="left">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-3">
          <!-- <div class="content-section"> -->
            <!-- <h3>Our Sidebar</h3> -->
            <!-- <p class='text-muted'>You can put any information here you'd like. -->
              <!-- <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul> -->
            <!-- </p> -->
          <!-- </div> -->
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block script %}{% endblock %}
</body>
</html>
