{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section border  mt-4" >
<button class="btn btn-info btn-sm mt-1 mb-1" onclick="myFunction1()">View Candiate Details</button>
<button class="btn btn-info btn-sm mt-1 mb-1" onclick="myFunction2()">View Hr Details</button>





</div>



<div class="content-section border ">







    <a   class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidatetracker'%}">Scheduled </a>

    <a  class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidaterescheduled'%}" >Rescheduled </a>

    <a class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candiateinprogress'%}" >Inprogress </a>

    <a  class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidatecompleted'%}" >Completed </a>


    <a class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidatehold'%}" >Hold </a>


    <a class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candiateselected'%}" >Selected </a>


    <a  class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidaterejected'%}" >Rejected </a>


    <a class="btn btn-outline-info btn-sm mt-1 mb-1" role="button" href="{%url 'hrpanel-candidateoffered'%}" >Offered </a>







{%block sh%}

{%endblock%}



</div>
{% endblock content %}

{%block script%}
<script>
function myFunction1() {
  var x = document.getElementById("myDIV1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function myFunction2() {
  var x = document.getElementById("myDIV2");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
  {%endblock%}
