{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Candiate Traker</h1>

    <article class="media content-section">
      <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
      <div class="modal-content">
        <div class="col-md-2 mb-3">
        ssdds

        ssdds

        ssdds


                </div>
        </div>
        <div class="modal-content">
          <div class="col-md-2 mb-3">
          ssdds
          ssdds
          ssdds
          

                  </div>
          </div>

    </article>

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#scheduledcandiate" role="tab" aria-controls="pills-home" aria-selected="true">Scheduled Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#inprogresscandiate" role="tab" aria-controls="pills-profile" aria-selected="false">Inprogress Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#completedcandiate" role="tab" aria-controls="pills-contact" aria-selected="false">Completed Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#holdcandiate" role="tab" aria-controls="pills-contact" aria-selected="false">Hold Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#selectedcandiate" role="tab" aria-controls="pills-contact" aria-selected="false">Selected Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#rejectedcandiate" role="tab" aria-controls="pills-contact" aria-selected="false">Rejected Candiate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#offeredcandiate" role="tab" aria-controls="pills-contact" aria-selected="false">Offered Candiate</a>
  </li>

</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="scheduledcandiate" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
  <div class="tab-pane fade" id="inprogresscandiate" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
  <div class="tab-pane fade" id="completedcandiate" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    <div class="tab-pane fade" id="holdcandiate" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      <div class="tab-pane fade" id="selectedcandiate" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        <div class="tab-pane fade" id="rejectedcandiate" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
        <div class="tab-pane fade" id="offeredcandiate" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>

</div>




{% endblock content %}
