{% extends "blog/base.html" %}
{% block content %}

        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"> -->
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{%url 'user-posts' object.user.username%}">{{ object.user }}</a>
              <small class="text-muted">{{ object.id}}</small>
            </div>
            <h2 class="article-title">{{ object.jobtitle }}</h2>
            <p class="article-content">{{ object.jobdescription }}</p>
          </div>
        </article>



{% endblock content %}
