{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">
      <!-- <legend class="border-bottom mb-4">School Details</legend> -->
      <h5 style="text-align:center">Create New Job</h5>

      <hr>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Id :

        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          {{job_form.jobid}}

        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Title :

        </div>

        <div class="col-md-2 mb-3">
          {{job_form.jobtitle}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          exprience :

        </div>

        <div class="col-md-2 mb-3">
          {{job_form.experience}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Domain :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.domain}}
        </div>
        <br>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Location :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.joblocation}}
        </div>




        <!-- <div>
          <label>Gender : {{personal_form.gender}}</label>

        </div> -->
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Company Name :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.companyname}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Client Name :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.clientname}}
        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract Job :

        </div>

        <div class="col-md-2 mb-3" style="background:#f0f6fc">

          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob" id="contractjob" value="Y" checked>
            <label class="form-check-label" for="exampleRadios1">
              Yes
            </label>
          </div>
          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob " id="contractjob" value="N">
            <label class="form-check-label" for="exampleRadios2">
              No
            </label>
          </div>
          
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Mandatory Skils :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.mandatoryskils}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Designation :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.designation}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Expected Notice Period :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.expectednoticeperiod}}
        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.jobdescription}}
        </div>
        <!-- radio -->

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.jobdescription}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contactname :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contactname}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mail Id :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contactmailid}}
        </div>








        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mobile Number :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contactmobilenumber}}
        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Lacks :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.payscalefromlacks}}
        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Thousand :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.payscalefromthousand}}
        </div>






        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Lacks :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.payscaletolacks}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Thousand :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.payscaletothousand}}
        </div>





        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Year :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contractfromyear}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Month :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contractfrommonth}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Year :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contracttoyear}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Month :

        </div>
        <div class="col-md-2 mb-3">
        {{job_form.contracttomonth}}
        </div>





      </div>
    </fieldset>







    <div class="form-group" align="right">

      <button class="btn btn-outline-info" type="submit">Save & Continue</button>

    </div>
  </form>
</div>
{% endblock content %}
