{% extends "hrpanel/hrbase.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h4>Freshers Profile</h4>
    <table class="table table-striped">
      <tbody>
        <thead>
          <th>Name</th>
          <th>Mail</th>
            <th>Phone</th>
              <th>Role</th>
              <th>Resume</th>
                <th>Image</th>
        </thead>
        {%for u in per%}
        <tr>
          <td>{{u.user.username}}</td>
           <td>{{u.user.email}}</td>
            <td>{{u.phone}}</td>
            <td>{{u.role}}</td>
            <td><a href="{%url 'hrpanel-download' u.id%}" download>Resume</a></td>
            <td><a href="{{ MEDIA_URL }}">Image</a></td>

        </tr>

        {%endfor%}
      </tbody>
    </table>

{% endblock content %}
