{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
<fieldset class="form-group">

  <!-- <legend class="border-bottom mb-4">School Details</legend> -->
  <h5 style="text-align:center">Short Listed </h5>

    <table class="table table-striped">
      <thead>
        <th>Shortlisted By</th>
        <th>Shortlisted Candiate</th>
        <th>Jobid</th>
        <th>Created Date</th>

        <th></th>
      </thead>
      {%for sc in per%}

  <tr>
    <td>{{sc.user}}</td>
    <td>{{sc.candiatename}}</td>
      <td>{{sc.jobid}}</td>
        <td>{{sc.createddate}}</td>
            </tr>
      {%endfor%}

    </table>

    </fieldset>


    </div>
    {% if per.has_other_pages %}
      <ul class="pagination">
        {% if per.has_previous %}
          <li><a class="btn btn-outline-info mb-4" href="?page={{ per.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="btn btn-outline-info mb-4 disabled"><span>First</span></li>
        {% endif %}
        {% for i in per.paginator.page_range %}
          {% if per.number == i %}
            <li class="btn btn-outline-info mb-4 active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a class="btn btn-outline-info mb-4" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if per.has_next %}
          <li><a class="btn btn-outline-info mb-4" href="?page={{ per.next_page_number }}">Next</a></li>
        {% else %}
          <li class="btn btn-outline-info mb-4 disabled"><span>Last</span></li>
        {% endif %}
      </ul>
    {% endif %}

{% endblock content %}
