{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">
      <!-- <legend class="border-bottom mb-4">School Details</legend> -->
      <h5 style="text-align:center">Create New Job</h5>

      <hr>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Id :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="jobid" value="{{jobls.jobid}}"/>


        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Title :

        </div>

        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="jobtitle" value="{{jobls.jobtitle}}"/>


        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          exprience :

        </div>

        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="experience" value="{{jobls.experience}}"/>

        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Domain :

        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="domain" value="{{jobls.domain}}"/>

        </div>
        <br>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Location :

        </div>
        <div class="col-md-2 mb-3">

          <input type="text" class="form-control" name="joblocation" value="{{jobls.joblocation}}"/>
        </div>




        <!-- <div>
          <label>Gender : {{personal_form.gender}}</label>

        </div> -->
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Company Name :

        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="companyname" value="{{jobls.companyname}}"/>

        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Client Name :

        </div>
        <div class="col-md-2 mb-3">
                <input type="text" class="form-control" name="clientname" value="{{jobls.clientname}}"/>

        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract :

        </div>

        <div class="col-md-2 mb-3" style="background:#f0f6fc">

          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob" id="contractjob" value="Y" checked>
            <label class="form-check-label" for="exampleRadios1">
              Yes
            </label>
          </div>
          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob" id="contractjob" value="N">
            <label class="form-check-label" for="exampleRadios2">
              No
            </label>
          </div>

        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Mandatory Skils :

        </div>
        <div class="col-md-2 mb-3">
              <input type="text" class="form-control" name="mandatoryskils" value="{{jobls.mandatoryskils}}"/>

        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Designation :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="designation" value="{{jobls.designation}}"/>

        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Expected Notice Period :

        </div>
        <div class="col-md-2 mb-3">
                <input type="text" class="form-control" name="expectednoticeperiod" value="{{jobls.expectednoticeperiod}}"/>

        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
              <input type="text" class="form-control" name="jobdescription" value="{{jobls.jobdescription}}"/>

        </div>
        <!-- radio -->

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
            <input type="text" class="form-control" name="jobdescription" value="{{jobls.jobdescription}}"/>

        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contactname :

        </div>
        <div class="col-md-2 mb-3">
                <input type="text" class="form-control" name="contactname" value="{{jobls.contactname}}"/>

        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mail Id :

        </div>
        <div class="col-md-2 mb-3">
                    <input type="text" class="form-control" name="contactmailid" value="{{jobls.contactmailid}}"/>

        </div>








        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mobile Number :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="contactmobilenumber" value="{{jobls.contactmobilenumber}}"/>


        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Lacks :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="payscalefromlacks" value="{{jobls.payscalefromlacks}}"/>


        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Thousand :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="payscalefromthousand" value="{{jobls.payscalefromthousand}}"/>



        </div>






        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Lacks :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="payscaletolacks" value="{{jobls.payscaletolacks}}"/>


        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Thousand :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="payscaletothousand" value="{{jobls.payscaletothousand}}"/>


        </div>





        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Year :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="contractfromyear" value="{{jobls.contractfromyear}}"/>


        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Month :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="contractfrommonth" value="{{jobls.contractfrommonth}}"/>


        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Year :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="contracttoyear" value="{{jobls.contracttoyear}}"/>


        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Month :

        </div>
        <div class="col-md-2 mb-3">
          <input type="text" class="form-control" name="contracttomonth" value="{{jobls.contracttomonth}}"/>


        </div>





      </div>
    </fieldset>







    <div class="form-group" align="right">
        <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{%url 'hrpanel-postjob' %}">Back to Post a Job</a>
      <button class="btn btn-outline-info btn-sm mt-1 mb-1" type="submit">Save & Continue</button>

    </div>
  </form>
</div>
{% endblock content %}
