{% extends "hrpanel/hrbase.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset class="form-group">

      <!-- <legend class="border-bottom mb-4">School Details</legend> -->
      <h5 style="text-align:center">Create New Job</h5>

      <hr>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Id :

        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          {{lastjobid.jobid}}

        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Title :

        </div>

        <div class="col-md-2 mb-3">
          {{lastjobid.jobtitle}}
        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          exprience :

        </div>

        <div class="col-md-2 mb-3">
          {{lastjobid.experience}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Domain :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.domain}}
        </div>
        <br>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Location :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.joblocation}}
        </div>




        <!-- <div>
          <label>Gender : {{personal_form.gender}}</label>

        </div> -->
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Company Name :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.companyname}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Client Name :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.clientname}}
        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract Job :

        </div>

        <div class="col-md-2 mb-3" style="background:#f0f6fc">

          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob" id="contractjob" value="Y" checked>
            <label class="form-check-label" for="exampleRadios1">
              Yes
            </label>
          </div>
          <div class="btn-group col-md-3">
            <input class="form-check-input" type="radio" name="contractjob " id="contractjob" value="N">
            <label class="form-check-label" for="exampleRadios2">
              No
            </label>
          </div>

        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Mandatory Skils :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.mandatoryskils}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Designation :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.designation}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Expected Notice Period :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.expectednoticeperiod}}
        </div>



        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.jobdescription}}
        </div>
        <!-- radio -->

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Job Description :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.jobdescription}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contactname :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contactname}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mail Id :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contactmailid}}
        </div>








        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contact Mobile Number :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contactmobilenumber}}
        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Lacks :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.payscalefromlacks}}
        </div>
        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale From Thousand :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.payscalefromthousand}}
        </div>






        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Lacks :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.payscaletolacks}}
        </div>


        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Pay Scale To Thousand :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.payscaletothousand}}
        </div>





        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Year :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contractfromyear}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract From Month :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contractfrommonth}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Year :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contracttoyear}}
        </div>

        <div class="col-md-2 mb-3">
          <!-- <input type="text" class="form-control" name="companyname" value=""> -->
          Contract To Month :

        </div>
        <div class="col-md-2 mb-3">
        {{lastjobid.contracttomonth}}
        </div>





      </div>
    </fieldset>







    <div class="form-group" align="right">
            <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{%url 'hrpanel-postjob' %}">Back to Post a Job</a>
      <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{%url 'hrpanel-updatecreatenewjob' lastjobid.jobid%}">Edit Current Details</a>
      <a class="btn btn-outline-info btn-sm mt-1 mb-1" href="{% url 'hrpanel-createnewjob' %}">Continue Add New Job</a>


    </div>
  </form>
</div>
{% endblock content %}
